---
- bin: mypy
  type: fs
  args:
    - --
    - ${filename}
  filetypes:
    - python
  install:
    pip:
      - mypy

- bin: shellcheck
  type: fs
  args:
    - --
    - ${filename}
  filetypes:
    - sh
    - zsh
  install:
    script:
      env:
        MAC_URI: https://github.com/koalaman/shellcheck/releases/download/v0.7.2/shellcheck-v0.7.2.darwin.x86_64.tar.xz
        LINUX_URI: https://github.com/koalaman/shellcheck/releases/download/v0.7.2/shellcheck-v0.7.2.linux.x86_64.tar.xz
      file: dl_shellcheck.sh

- bin: hadolint
  type: stream
  args:
    - "-"
  filetypes:
    - dockerfile
  install:
    script:
      env:
        MAC_OS: https://github.com/hadolint/hadolint/releases/download/v2.6.0/hadolint-Darwin-x86_64
        LINUX: https://github.com/hadolint/hadolint/releases/download/v2.6.0/hadolint-Linux-x86_64
      file: dl_hadolint.sh

